[submodule "Model_01_Firmware_Custom"]
	path = Model_01_Firmware_Custom
	url = https://github.com/guitarjorge24/Model_01_Firmware_Custom.git
[submodule "Kaleidoscope"]
	path = Kaleidoscope
	url = https://github.com/keyboardio/Kaleidoscope.git
